<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="app-container">
        <header>
            <h1>Hello, {{ username }}!</h1>
            <div class="logout-container">
                <form action="/logout" method="post">
                    <button type="submit" class="button logout-button">Logout</button>
                </form>
            </div>
        </header>
        <main>
            <!-- Your dashboard content goes here -->
        </main>
        <footer>
            <p>&copy; 2023 KISHWANTH A/L HARI KRISHNAN. </p>
        </footer>
    </div>
</body>
</html>


