<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Web App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="app-container">
        <header>
            <h1>Internship Assesment Question 2</h1>
        </header>
        <main>
            <div class="main-content">
                <p>Get started by registering or logging in:</p>
                <div class="action-buttons">
                    <a href="/register" class="button primary-button">Register</a>
                    <a href="/login" class="button secondary-button">Login</a>
                </div>
            </div>
        </main>
        <footer>
            <p>&copy; 2023 KISHWANTH A/L HARI KRISHNAN.</p>
        </footer>
    </div>
</body>
</html>



